@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #F2F2F2;
  color: #000000;
  margin: 0 auto;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.button,
.subscribe button,
.subscribe-index button,
.pagination-link,
.catalog-filter button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.button.navigation-link,
.catalog-filter button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.button {
  background-color: #756157;
}

.subscribe button,
.subscribe-index button,
.catalog-filter button {
  background-color: #82B3D3;
}

button[type="reset"] {
  background: transparent;
}

.navigation {
  display: flex;
  padding: 0 70px;
}

.logo {
  margin-right: 30px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.user-menu-list {
  margin: 0;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.favourites {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
}

.hero {
  background-image: url("../images/hero-divider.svg"), url("../images/index-background.jpg");
  background-color: lightblue;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  background-size: contain, cover;
}

.hero img {
  margin: 51px 371px 82px 371px;
}

.advantages h2,
.benefits h2,
.search h2,
.subscribe-index h2,
.subscribe h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages p,
.benefits p,
.search p,
.subscribe-index p,
.subscribe p {
  text-align: center;
  color: #333333;
}

.advantages-list,
.benefits-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  list-style: none;
}

.advantages-title,
.benefits-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item {
  width: 400px;
  background-color: #82B3D3;
}

.advantages-item-big {
  width: 100%;
}

.benefits-item {
  width: 400px;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4),
.benefits-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
  ;
}

.advantages-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.2);
}

.search {
  text-align: center;
}

.subscribe-index h2,
.subscribe-index p {
  color: #ffffff;
}

.subscribe-index {
  padding: 96px 258px 104px 258px;
  background-image: url("../images/subscribe-background.jpg");
  background-color: #5abaf7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.subscribe-form input::placeholder {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.page-footer-container {
  display: flex;
  padding: 0 70px;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 35px 70px 70px 70px;
  background-image: url("../images/filter-background.jpg");
  background-color: #5abaf7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-title label {
  font-size: 18px;
  line-height: 24px;
}

.catalog-filter-title input {
  font-size: 40px;
}

.catalog-filter-item label {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-group input[type="number"] {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.catalog-header {
  display: flex;
  margin: 0 70px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.catalog-search-results {
  display: flex;
  margin: 0 70px;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.view {
  width: 48px;
}

.catalog h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog select,
.product-card p {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card {
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  width: 340px;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
}

.product-card:nth-child(3n) {
  margin-right: 0;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card p + a,
.favourite,
.rating {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card p + a {
  background-color: #756157;
}

.favourite {
  border: none;
  background-color: #82B3D3;
}

.in-favourites {
  background-color: #7DB54F;
}

.rating {
  font-weight: 400;
}

.pagination-list {
  display: flex;
  list-style: none;
}

.pagination-item {
  width: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  margin-right: 8px;
  text-align: center;
}

.pagination-link {
  background-color: #82B3D3;
}

.subscribe {
  background-color: #ffffff;
  text-align: center;
}

.page-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.contacts a {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}
